<div class="container"
  <div class="row"
    <div class="col mx-5">
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading text-center">Salut toi!</h4>
        <p>Moi C'est Karim</p>
        <hr>
        <p class="mb-0">Je suis seul dans ma team et très content de t'accueillir sur mon site</p>
      </div>
    </div>
  </div>
</div>
