<div class="container"
  <div class="row"
    <div class="col mx-5">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action"><strong>Vous pouvez me joindre</strong></a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Par téléphone au 06 XX XX XX XX</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-info">Par discord</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-success">En venant à Paris !</a>
      </div>
    </div>
  </div>
</div>
